# ============================================================
# PYTHON
# ============================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.egg-info/
*.egg
*.log
*.tmp
*$py.class

# виртуальные окружения
venv/
env/
.venv/
yocta_env/
.idea/
.vscode/

# ============================================================
# DATA / DATASETS / CORPUS
# ============================================================
models/
data/
dataset/
datasets/
corpus/
raw_data/
training_data/
*.txt~
*.jsonl
*.jsonl.zst
*.csv
*.tsv
*.zip
*.tar.gz
*.7z

# Твои словари и обучающие текстовые файлы
dictionaries/
*.tok
*.bpe
*.spm
*.model
*.vocab

# ============================================================
# CHECKPOINTS / MODELS
# ============================================================
checkpoints/
ckpt/
checkpoints_*/
runs/
logs/
wandb/
*.ckpt
*.pth
*.pt
*.bin
*.safetensors
*.onnx

# Твои стадии обучения
yoctollm_stage*.pth

# ============================================================
# TORCH / TF / CACHE
# ============================================================
*.pth*
.cache/
*.pt
torch_cache/
tf_cache/
huggingface/
huggingface_cache/
transformers_cache/
hf_cache/

# ============================================================
# JUPYTER
# ============================================================
*.ipynb_checkpoints/

# ============================================================
# BUILD / DIST
# ============================================================
build/
dist/
*.egg-info/
*.spec

# ============================================================
# SYSTEM / OS
# ============================================================
.DS_Store
Thumbs.db

# ============================================================
# LOGS / DEBUG / TEMP
# ============================================================
*.log
logs/
*.out
*.err
tmp/
temp/
gguf_model/
model/
checkpoints/
yoktaai_env/
instruments/
tokenizer/
rezult_model/
reports/